<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>怎么？250*2 服务器或程序出了一点小问题~~</title>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3591836137242221",
    enable_page_level_ads: true
  });
</script>
</head>

<body>
<div class="am-g">
    <div class="am-u-sm-12" style="
    text-align: center;
">
        <h2 class="am-text-center am-text-xxxl am-margin-top-lg">250*2 error</h2>
        <p class="am-text-center">服务器或程序出了一点小问题~~</p>
        <pre class="page-404">          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\·
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  500!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
    </div>

</body>

</html>