.music {
    width: 360px;
    margin: 160px auto;
    border-radius: 10px;
}

.music p {
    padding: 10px 0;
    position: relative;
    left: 16px;
    opacity: 0.5;
}

body {
	height: 595px;
	width: 900px;
	background-size: 1000px 968px;
	margin: 0px auto;
	background-color: #2D2D2D;
}
